{% extends 'templates/app.twig' %}

{% block content %}

{% include 'templates/message.twig' %}

<div class="card mt-2 mx-auto" style="width: 60%;">

  <div class="card-header">{{ trans('trips.create.title') }}</div>

  <div class="card-body">

    <form method="post" action="{{ path_for('trips.create') }}" autocomplete="off">

      <div class="form-group">
        <label for="name">{{ trans('trips.create.name') }}</label>
        <input type="text" class="form-control f-no-border {{ flash.getMessage('error_name') ? ' is-invalid' : '' }}" name="name" maxlength="20" placeholder="{{ trans('trips.create.namePlace') }}" value="{{ persistInput.name }}">
        {% if flash.getMessage('error_name') %}
          <small class="text-danger">{{ flash.getMessage('error_name') | first }}</small>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="period">{{ trans('trips.create.period') }}</label>
        <input type="text" maxlength="23" class="form-control f-no-border date-format {{ flash.getMessage('error_period') ? ' is-invalid' : '' }}" name="period" placeholder="{{ trans('trips.create.rangePlace') }}" value="{{ persistInput.period }}">
        {% if flash.getMessage('error_period') %}
          <small class="text-danger">{{ flash.getMessage('error_period') | first }}</small>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="type">{{ trans('trips.general.type') }}</label><br />
        <select name="type" class="form-control f-no-border">
          <option value="leisure" {{ persistInput.type == 'leisure' ? 'selected="selected"' : '' }}>{{ trans('trips.type.leisure') }}</option>
          <option value="business" {{ persistInput.type == 'business' ? 'selected="selected"' : '' }}>{{ trans('trips.type.business') }}</option>
        </select>
        {% if flash.getMessage('error_type') %}
          <small class="text-danger d-block">{{ flash.getMessage('error_type') | first }}</small>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="currency">{{ trans('trips.general.currency') }}</label><br />
        <select name="currency" class="form-control f-no-border">
          {% for currency in currencies %}
            <option value="{{ currency.id }}" {{ persistInput.currency == currency.id ? 'selected="selected"' : '' }}>{{ currency.code }}</option>
          {% endfor %}
        </select>
        {% if flash.getMessage('error_currency') %}
          <small class="text-danger d-block">{{ flash.getMessage('error_currency') | first }}</small>
        {% endif %}
      </div>

      <div class="text-center mt-5">
        <button class="btn btn-primary" type="submit">{{ trans('input.button.create') }}</button>
        <a class="btn btn-danger" href="{{ path_for('trips') }}">{{ trans('input.button.cancel') }}</a>
      </div>

      {{ csrf.fields | raw }}

    </form>

  </div>

</div>

{% endblock %}
