{% extends 'templates/app.twig' %}

{% block content %}

<div class="card mt-2 mx-auto" style="width: 60%;">

  <div class="card-header">{{ trans('trips.travelers.remove') }}</div>

  <div class="card-body">

    {% include 'templates/message.twig' %}

    <form method="post" action="{{ path_for('trips.travelers.delete.post') }}" autocomplete="off">

      {{ trans('trips.travelers.confirmDelete') }}

      <br /><br />

      <h6>{{ traveler.firstname }} {{ traveler.lastname }}</h6>

      <div class="text-center mt-5">
        <button class="btn btn-primary" type="submit">{{ trans('input.button.delete') }}</button>
        <a href="{{ path_for('trips.travelers', { id: trip.identifier }) }}" class="btn btn-danger">{{ trans('input.button.cancel') }}</a>
      </div>

      <input type="hidden" name="identifier" value="{{ trip.identifier }}">
      <input type="hidden" name="traveler" value="{{ traveler.identifier }}">

      {{ csrf.fields | raw }}

    </form>

  </div>

</div>

{% endblock %}
