{% extends 'templates/app.twig' %}

{% block content %}

<div id="accordion" class="accordion-menu mt-2 mx-auto">

  {% include 'templates/message.twig' %}

  <div class="card">

    <div class="card-header" id="headingDetails">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">
          {{ trans('account.account.details') }}
        </button>
      </h5>
    </div>

    <div id="collapseDetails" class="collapse{{ flash.getMessage('account_details') ? ' show' : '' }}" aria-labelledby="headingDetails" data-parent="#accordion">
      <div class="card-body">
        <form class="form-account mx-auto mt-3 mb-4" method="post" action="{{ path_for('account.details') }}" autocomplete="off">

          <div class="form-group">
            <label for="firstname">{{ trans('input.label.firstname') }}</label>
            <input type="text" name="firstname" class="form-control f-no-border {{ flash.getMessage('error_firstname') ? ' is-invalid' : '' }}" value="{{ persistInput.firstname ? persistInput.firstname : session.user.firstname}}">
            {% if flash.getMessage('error_firstname') %}
              <small class="text-danger">{{ flash.getMessage('error_firstname') | first }}</small>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="lastname">{{ trans('input.label.lastname') }}</label>
            <input type="text" name="lastname" class="form-control f-no-border {{ flash.getMessage('error_lastname') ? ' is-invalid' : '' }}" value="{{ persistInput.lastname ? persistInput.lastname : session.user.lastname }}">
            {% if flash.getMessage('error_lastname') %}
              <small class="text-danger">{{ flash.getMessage('error_lastname') | first }}</small>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="email">{{ trans('input.label.email') }}</label>
            <input type="text" name="email" class="form-control f-no-border {{ flash.getMessage('error_email') ? ' is-invalid' : '' }}" value="{{ persistInput.email ? persistInput.email : session.user.email }}">
            {% if flash.getMessage('error_email') %}
              <small class="text-danger">{{ flash.getMessage('error_email') | first }}</small>
            {% endif %}
          </div>

          <button class="btn btn-md btn-primary btn-block mx-auto mt-4" style="width: 50%;" type="submit">{{ trans('input.button.save') }}</button>

          {{ csrf.fields | raw }}

        </form>
      </div>
    </div>

  </div>

  <div class="card">

    <div class="card-header" id="headingPassword">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePassword" aria-expanded="false" aria-controls="collapsePassword">
          {{ trans('account.account.password') }}
        </button>
      </h5>
    </div>

    <div id="collapsePassword" class="collapse{{ flash.getMessage('account_password') ? ' show' : '' }}" aria-labelledby="headingPassword" data-parent="#accordion">
      <div class="card-body">

        <form class="form-account mx-auto mt-3 mb-4" method="post" action="{{ path_for('account.password') }}" autocomplete="off">

          <div class="form-group">
            <label for="currentPassword">{{ trans('input.label.currentPassword') }}</label>
            <input type="password" name="currentPassword" class="form-control f-no-border {{ flash.getMessage('error_currentPassword') ? ' is-invalid' : '' }}">
            {% if flash.getMessage('error_currentPassword') %}
              <small class="text-danger">{{ flash.getMessage('error_currentPassword') | first }}</small>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="newPassword">{{ trans('input.label.newPassword') }}</label>
            <input type="password" name="newPassword" class="form-control f-no-border {{ flash.getMessage('error_newPassword') ? ' is-invalid' : '' }}">
            {% if flash.getMessage('error_newPassword') %}
              <small class="text-danger">{{ flash.getMessage('error_newPassword') | first }}</small>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="confirmPassword">{{ trans('input.label.confirmPassword') }}</label>
            <input type="password" name="confirmPassword" class="form-control f-no-border {{ flash.getMessage('error_confirmPassword') ? ' is-invalid' : '' }}">
            {% if flash.getMessage('error_confirmPassword') %}
              <small class="text-danger">{{ flash.getMessage('error_confirmPassword') | first }}</small>
            {% endif %}
          </div>

          <button class="btn btn-md btn-primary btn-block mx-auto mt-4" style="width: 50%;" type="submit">{{ trans('input.button.save') }}</button>

          {{ csrf.fields | raw }}

        </form>

      </div>
    </div>

  </div>

  <div class="card">

    <div class="card-header" id="headingLanguage">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLanguage" aria-expanded="false" aria-controls="collapseLanguage">
          {{ trans('account.account.language') }}
        </button>
      </h5>
    </div>

    <div id="collapseLanguage" class="collapse{{ flash.getMessage('account_language') ? ' show' : '' }}" aria-labelledby="headingLanguage" data-parent="#accordion">
      <div class="card-body">

        <form class="form-account mx-auto mt-3 mb-4" method="post" action="{{ path_for('account.language') }}" autocomplete="off">

          <div class="form-group">
            <label for="language">{{ trans('input.label.language') }}</label>
            <select name="language" class="form-control f-no-border {{ flash.getMessage('error_language') ? ' is-invalid' : '' }}">
              {{ languages | raw }}
            </select>
            {% if flash.getMessage('error_language') %}
              <small class="text-danger">{{ flash.getMessage('error_language') | first }}</small>
            {% endif %}
          </div>

          <button class="btn btn-md btn-primary btn-block mx-auto mt-4" style="width: 50%;" type="submit">{{ trans('input.button.save') }}</button>

          {{ csrf.fields | raw }}

        </form>

      </div>
    </div>

  </div>

  {% if premiumEnabled %}
  <div class="card">

    <div class="card-header" id="headingPremium">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePremium" aria-expanded="false" aria-controls="collapsePremium">
          {{ trans('account.account.premium') }}
        </button>
      </h5>
    </div>

    <div id="collapsePremium" class="collapse{{ flash.getMessage('account_premium') ? ' show' : '' }}" aria-labelledby="headingPremium" data-parent="#accordion">
      <div class="card-body">

        {% if session.user.premium == '9999-12-31' %}
          <h6>{{ trans('account.premium.lifetime') }}</h6>
        {% elseif session.premium.check %}
          <h6>{{ trans('account.premium.validUntil') }} {{ session.premium.date }}</h6>
        {% else %}
          <h6>{{ trans('account.premium.normal') }}</h6>
        {% endif %}

        {% if session.user.premium != '9999-12-31' %}

          <div class="card mt-4">

            <div class="card-header">{{ trans('account.premium.extend') }}</div>

            <form class="form-account mx-auto mt-3 mb-4" id="premiumForm" method="post" action="{{ path_for('account.premium') }}" autocomplete="off">
              <label for="plan">{{ trans('input.label.plan') }}</label>
              <select name="plan" class="form-control f-no-border {{ flash.getMessage('error_plan') ? ' is-invalid' : '' }}">
                {{ plans | raw }}
              </select>
              {% if flash.getMessage('error_plan') %}
                <small class="text-danger">{{ flash.getMessage('error_plan') | first }}</small>
              {% endif %}

              <div class="mt-3" id="payment-container"></div>

              <input type="hidden" value="" name="nonce" id="nonceHidden">

              <button class="btn btn-md btn-primary btn-block mx-auto mt-4" id="payment-button" style="width: 50%;" type="submit">{{ trans('input.button.buy') }}</button>

              {{ csrf.fields | raw }}

            </form>

          </div>

        {% endif %}

      </div>
    </div>

  </div>
  {% endif %}

  <div class="card">

    <div class="card-header" id="headingTwoFactor">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwoFactor" aria-expanded="false" aria-controls="collapseTwoFactor">
          {{ trans('account.account.twofactor') }}
        </button>
      </h5>
    </div>

    <div id="collapseTwoFactor" class="collapse{{ flash.getMessage('account_twofactor') ? ' show' : '' }}" aria-labelledby="headingTwoFactor" data-parent="#accordion">
      <div class="card-body">

        {% if session.user.twofactor == "" %}

          <div class="card mt-2">

            <div class="card-header">{{ trans('account.twofactor.activate') }}</div>

            <div class="card-body text-center">

              <span>{{ trans('account.twofactor.activateInstruction') }}</span><br /><br />
              <div class="card d-inline-block p-1">
                <img src="{{ flash.getMessage('twofactor_qr') ? flash.getMessage('twofactor_qr') | first : twofactor.qr }}" alt="" class="mb-0 pb-0" /><br />
                <small class="mt-0">{{ flash.getMessage('twofactor_secret') ? flash.getMessage('twofactor_secret') | first : twofactor.secret }}</small>
              </div>

              <form class="mt-4" method="post" action="{{ path_for('account.twofactor.activate') }}" autocomplete="off">
                <div class="input-group mb-3 mx-auto" style="width: 40%;">
                  <input type="text" name="code" class="form-control f-no-border" placeholder="{{ trans('input.label.code') }}" maxlength="6">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">{{ trans('input.button.activate') }}</button>
                  </div>
                </div>
                {% if flash.getMessage('error_twofactor') %}
                  <small class="text-danger">{{ flash.getMessage('error_twofactor') | first }}</small>
                {% endif %}
                <input type="hidden" name="secret" value="{{ flash.getMessage('twofactor_secret') ? flash.getMessage('twofactor_secret') | first : twofactor.secret }}">

                {{ csrf.fields | raw }}

              </form>

            </div>

          </div>


        {% else %}

        <div class="card mt-2">

          <div class="card-header">{{ trans('account.twofactor.deactivate') }}</div>

          <div class="card-body text-center">

            <span>{{ trans('account.twofactor.deactivateInstruction') }}</span><br /><br />

            <form class="mt-1" method="post" action="{{ path_for('account.twofactor.deactivate') }}" autocomplete="off">
              <div class="input-group mb-3 mx-auto" style="width: 40%;">
                <input type="text" name="code" class="form-control f-no-border" placeholder="{{ trans('input.label.code') }}" maxlength="6">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="submit">{{ trans('input.button.deactivate') }}</button>
                </div>
              </div>
              {% if flash.getMessage('error_twofactor') %}
                <small class="text-danger">{{ flash.getMessage('error_twofactor') | first }}</small>
              {% endif %}

              {{ csrf.fields | raw }}

            </form>

          </div>

        </div>

        {% endif %}

      </div>
    </div>

  </div>

</div>

{% endblock %}

{% block scripts %}

  {% if premiumEnabled %}

  <script src="https://js.braintreegateway.com/web/dropin/1.9.3/js/dropin.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.28.1/js/three-d-secure.min.js"></script>

  <script>

    var premiumForm = document.querySelector('#premiumForm');
    var nonceHidden = document.querySelector('#nonceHidden');

    $.ajax({
      url: '{{ path_for('payment.token') }}',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        braintree.dropin.create({
          authorization: data.token,
          container: '#payment-container',
          locale: '{{ language.code }}'
        }, function (err, dropinInstance) {
            premiumForm.addEventListener('submit', function (event) {

              event.preventDefault();

              dropinInstance.requestPaymentMethod(function (err, payload) {

                if (err) {
                  // Handle error
                  alert("Test");
                  return;
                }

                nonceHidden.value = payload.nonce;
                premiumForm.submit();

              });

            });
        });
      }
    });

  </script>

  {% endif %}

{% endblock %}
