{% extends 'templates/app.twig' %}

{% block content %}

<div class="card mt-2 mx-auto" style="width: 60%;">

  <div class="card-header">{{ trans('trips.accommodations.detailsTitle') }}</div>

  <div class="card-body">

    {% include 'templates/message.twig' %}

    <div class="form-group">
      <label>{{ trans('trips.accommodations.name') }}</label>
      <input type="text" class="form-control f-no-border" readonly value="{{ accommodation.name }}">
    </div>

    <div class="form-group">
      <label>{{ trans('trips.accommodations.dates') }}</label>
      <input type="text" class="form-control f-no-border" readonly value="{{ accommodation.checkin | date('d/m/Y') }} - {{ accommodation.checkout | date('d/m/Y') }}">
    </div>

    {% if accommodation.reference %}
    <div class="form-group">
      <label>{{ trans('trips.accommodations.reference') }}</label>
      <input type="text" class="form-control f-no-border" readonly value="{{ accommodation.reference }}">
    </div>
    {% endif %}

    <div class="form-group">
      <label>{{ trans('trips.accommodations.price') }}</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend3">{{ trip.currencyCode }}</span>
        </div>
        <input type="text" class="form-control f-no-border" readonly value="{{ accommodation.price | number_format(2, '.', '') }}">
      </div>
    </div>

    <div class="form-group">
      <label>{{ trans('trips.accommodations.meals') }}</label>
      <input type="text" class="form-control f-no-border" readonly value="{{ trans('trips.accommodations.mealOptions.' ~ accommodation.meals) }}">
    </div>

    <div class="form-group">
      <label>{{ trans('trips.accommodations.cancelable') }}</label>
      <input type="text" class="form-control f-no-border" readonly value="{{ trans('trips.accommodations.cancelOptions.' ~ accommodation.cancelable) }}">
    </div>

    {% if accommodation.cancelable == 'true' %}
    <div class="form-group">
      <label>{{ trans('trips.accommodations.cancelbefore') }}</label>
      <input type="text" class="form-control f-no-border" readonly value="{{ accommodation.cancelbefore | date('d/m/Y') }}">
    </div>
    {% endif %}

    <div class="text-center mt-5">
      <a class="btn btn-secondary" href="{{ path_for('trips.travelers.edit', { id: trip.identifier, traveler: traveler.identifier }) }}">{{ trans('trips.travelers.edit') }}</a>
      <a class="btn btn-secondary" href="{{ path_for('trips.travelers.delete', { id: trip.identifier, traveler: traveler.identifier }) }}">{{ trans('trips.travelers.delete') }}</a>
      <a class="btn btn-danger" href="{{ path_for('trips.accommodations', { id: trip.identifier }) }}">{{ trans('input.button.back') }}</a>
    </div>

  </div>

</div>

{% endblock %}
